
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form runat="server">
        <div>
            <input id="Text1" type="text" runat="server" />
            <input id="Submit1" runat="server" type="submit" value="submit" />
        </div>
    </form>
</body>
</html>
