
@{
    ViewBag.Title = "Method1";
    Layout = null;
}


<h2>Method1</h2>
<div>
    <h3>
        @ViewBag.message
    </h3>
    <br />
    <li>@Html.ActionLink("Index", "Index", "Test")</li>
    <li> <a href="/Test/Index">Index Page</a></li>
   


</div>
